{% extends "robotic/base.html" %}
{% load static %}

{% block title %}{{ page_name }}{% endblock title %}

{% block content %}
<div class="container-fluid central-container">
  <div class="col-md-6 position-absolute start-0" >
    <img src="{% static 'robotic/images/iconEngrenagens_2.png' %}" alt="Engrenagem" class="img-fluid img-engrenagem_2">
  </div> 
  <div class="row align-items-center">
    <div class="col-md-6 mb-3 conteudo-esquerda">
        <img src="{% static 'robotic/images/RoboticMinds.png' %}" alt="Imagem Esquerda" class="img-fluid">
    </div>
    <div class="col-md-6 d-flex align-items-center">
      <div class="conteudo-direita">
        <p class="mb-3 ">Equipe de robótica do Campus Avançado Manacapuru</p>
        <button class="btn">Faça Parte</button>
      </div>
    </div>
  </div>
</div>
<!-- TRANSIÇÃO ONDA --> 
  <img src="{% static 'robotic/images/svgviewer-output.svg' %}" class="onda" alt="">

<div class="container-fluid text-center PARTE-2">
  <div class="row">
    <div class="col-12">
      <img src="{% static 'robotic/images/Logotipo Vertical Colorida.png' %}" class="img-fluid imgLogoColorida" alt="Logotipo Vertical Colorida">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 mt-5">
      <img src="{% static 'robotic/images/imgGenericaFoto.png' %}" class="img-fluid imgGenericaFoto">
      <p class="lead mt-3 txtParte2">Primeira equipe de robótica a participar da competição First Lego League do IFAM - Campus Avançado Manacapuru</p>
    </div>
    <div class="col-sm-6 mt-5">
      <img src="{% static 'robotic/images/imgGenericaFoto.png' %}" class="img-fluid imgGenericaFoto">
      <p class="lead mt-3 txtParte2">Participaram de vários torneios e construíram muitos robôs a base de peças de lego</p>
    </div>
  </div>
</div>

<div class="container-fluid PARTE-3">
  <div class="row mt-3">
    <div class="col-12">
      <img src="{% static 'robotic/images/Logotipo vertical versão negativa.png' %}" class="img-fluid imgLogoNegativa mb-3">
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-3 d-flex justify-content-center">
      <div class="card custom-card" style="width: 10rem;">
        <img src="{% static 'robotic/images/imgGenericaFotoCard.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Lego</h5>
        </div>
      </div>
    </div>
    <div class="col-3 d-flex justify-content-center">
      <div class="card custom-card" style="width: 10rem;">
        <img src="{% static 'robotic/images/imgGenericaFotoCard.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Arduino</h5>
        </div>
      </div>
    </div>
    <div class="col-3 d-flex justify-content-center">
      <div class="card custom-card" style="width: 10rem;">
        <img src="{% static 'robotic/images/imgGenericaFotoCard.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sustentável</h5>
        </div>
      </div>
    </div>
    <div class="col-3 d-flex justify-content-center">
      <div class="card custom-card" style="width: 10rem;">
        <img src="{% static 'robotic/images/imgGenericaFotoCard.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Robô Sumo</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="container d-flex justify-content-center">
    <button class="btn mb-5 mt-3">
      Mais Projetos
    </button>
  </div>
</div>
<div class="divisoria">
  Robotic
</div>
<div class="container-fluid PARTE-4">
  <div class="row">
    <div class="col-12">
      <img src="{% static 'robotic/images/Logotipo vertical versão negativa.png' %}" alt="" class="img-fluid mt-3 mb-3 " style="width: 18rem;">
    </div>
  </div>
  <div class="row">
    <div class="col-4 d-flex justify-content-end">
        <div class="card custom-card-pt4" style="width: 10rem;">
          <img src="{% static 'robotic/images/imgGenericaFotoCard.png' %}" class="card-img-top" alt="...">
        </div>
    </div>
    <div class="col-4 d-flex justify-content-center">
        <div class="card custom-card-pt4" style="width: 10rem;">
          <img src="{% static 'robotic/images/imgGenericaFotoCard.png' %}" class="card-img-top" alt="...">
        </div>
    </div>
    <div class="col-4 d-flex justify-content-start">
        <div class="card custom-card-pt4" style="width: 10rem;">
          <img src="{% static 'robotic/images/imgGenericaFotoCard.png' %}" class="card-img-top" alt="...">
        </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-4 d-flex justify-content-end">
        <div class="card custom-card-pt4" style="width: 10rem;">
          <img src="{% static 'robotic/images/imgGenericaFotoCard.png' %}" class="card-img-top" alt="...">
        </div>
    </div>
    <div class="col-4 d-flex justify-content-center">

        <div class="card custom-card-pt4" style="width: 10rem;">
          <img src="{% static 'robotic/images/imgGenericaFotoCard.png' %}" class="card-img-top" alt="...">
        </div>

    </div>

    <div class="col-4 d-flex justify-content-start">
        <div class="card custom-card-pt4" style="width: 10rem;">
          <img src="{% static 'robotic/images/imgGenericaFotoCard.png' %}" class="card-img-top" alt="...">
        </div>
    </div>
  </div>

  <!-- Linha 4 -->
  <div class="row mt-5 mb-3 ">
    <div class="col-4 d-flex justify-content-end">
        <div class="card custom-card-pt4" style="width: 10rem;">
          <img src="{% static 'robotic/images/imgGenericaFotoCard.png' %}" class="card-img-top" alt="...">
        </div>
    </div>

    <div class="col-4 d-flex justify-content-center">

        <div class="card custom-card-pt4" style="width: 10rem;">
          <img src="{% static 'robotic/images/imgGenericaFotoCard.png' %}" class="card-img-top" alt="...">
        </div>

    </div>

    <div class="col-4 d-flex justify-content-start">
        <div class="card custom-card-pt4" style="width: 10rem;">
          <img src="{% static 'robotic/images/imgGenericaFotoCard.png' %}" class="card-img-top" alt="...">
        </div>
    </div>
  </div>

  <!-- Linha 5 -->
  <div class="row">
    <div class="col-12">
      <img src="{% static 'robotic/images/Logotipo vertical versão negativa.png' %}" alt="" class="img-fluid mt-3 mb-3 " style="width: 18rem;">
    </div>
  </div>


  <!-- Linha 6 -->
  <div class="row">
    <div class="col-6 d-flex justify-content-end mb-3">
      <div class="card custom-card" style="width: 10rem;">
        <img src="{% static 'robotic/images/imgGenericaFotoCard.png' %}" class="card-img-top" alt="...">
      </div>
    </div>

    <div class="col-6 d-flex justify-content-start mb-3">
      <div class="card custom-card" style="width: 10rem;">
        <img src="{% static 'robotic/images/imgGenericaFotoCard.png' %}" class="card-img-top" alt="...">
      </div>
    </div>
  </div>
</div>

<!-- DIVISORIA  -->
<div class="divisoria">
  Robotic
</div>


<div class="container-fluid  PARTE-5 bg-image">

  <div class="position-relative">
    <img src="{% static 'robotic/images/imgRoboticInsc.png' %}" class="img-fluid mt-3 mb-3 ml-xl-5" style="width: 18rem;">
  </div>
  
  <div class="row align-items-center">
    <div class="col-md-6 mb-3 d-flex justify-content-center justify-content-md-end">
        <img src="{% static 'robotic/images/imgParte5.png' %}" alt="Imagem Esquerda" class="img-fluid imgP5">
    </div>

    <div class="col-md-6 d-flex justify-content-center justify-content-md-start">
      <form class="custom-forms">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Nome</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" style="border-radius: 25px;">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Email</label>
          <input type="password" class="form-control" id="exampleInputPassword1" style="border-radius: 25px;">
        </div>
        <button type="submit" class="btn btn-primary mb-md-3 mb-sm-3">Enviar</button>
      </form>
    </div>
  </div>
</div>
{% endblock content %}